<md-dialog aria-label="List dialog" layout="column">
	<md-dialog-content flex>
		<mm-profile profile="$mmProfile.profile"></mm-profile>
	</md-dialog-content>
	<md-dialog-actions>
        <div flex layout="row" class="legend">
			<div flex="20" ng-repeat="entry in $mmProfile.legend" style="font-size:75%">
				<img ng-src="{{entry.img}}"> <span ng-bind="entry.title"></span>
			</div>
		</div>
		<md-button ng-click="$mmProfile.close()" class="md-primary">
			Close
		</md-button>
	</md-dialog-actions>
</md-dialog>