<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">
            <span>
            <md-icon class="ionicons" md-font-icon="ion-android-funnel"></md-icon>Filters
            </span>
        
        </h1>
      </md-toolbar>
    <md-content layout-padding>
        <div class="gmp-logo"></div>
        <div class="lad-bible-logo"></div>
        <div>
            <md-input-container>
                <label>Full Name</label>
                <input type="text" ng-model="user.name">
            </md-input-container>
            <md-input-container>
                <label>Day</label>
                <input type="text" ng-model="user.name">
            </md-input-container>
            <md-input-container>
                <label>Time Range</label>
                <input type="text" ng-model="user.name">
            </md-input-container>
        </div>
    </md-content>
</md-sidenav>