<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GMPMissingPersonEntities" connectionString="metadata=res://*/MissingPeople.csdl|res://*/MissingPeople.ssdl|res://*/MissingPeople.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UKL025\SQLEXPRESS2014;initial catalog=GMPMissingPerson;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>